<a [routerLink]="['']">Home</a><br />

<div class="launch">
  <h2>Flight: {{ apiData.flight_number }} | {{ apiData.mission_name }}</h2>
  <h3>{{ apiData.launch_date_utc.slice(0, 10) }} | {{ apiData.rocket.rocket_name }}</h3>
  <h4>{{ apiData.launch_site.site_name_long }}</h4>
  <p>{{ apiData.details }}</p>
  <p><a style="color: black;" href="{{ apiData.links.video_link }}">Video Link</a></p>
  <span *ngFor="let img of apiData.links.flickr_images">
    <a href="{{ img }}"><img src="{{ img }}"></a>
  </span>
</div>
